<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/vue"></script>
    <script src="form.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
    <title></title>
</head>
<body>
<div id="app">
    <h1>todos</h1>
    <input v-model="list" @keyup.enter= "addTodo">
    <ul>
        <todo v-for="list in items" :list="list">{{list}}</todo>
    </ul>
    <pre>
    {{$data}}
    </pre>
</div>

<form class="ui form container form_wrap">
                                <div class="field">
                                    <label></label>
                                    <input class="form_id" type="text" placeholder="Name*" name="name">
                                </div>
                                <div class="field">
                                    <label></label>
                                    <input class="form_mail" placeholder="Email*" name="email">
                                </div>
                                <div class="field">
                                    <label></label>
                                    <input class="form_subject" type="text" placeholder="Subject*" name="subject">
                                </div>
                                <div class="field">
                                    <label></label>
                                    <textarea class="form_message" placeholder="Message*" name="message"></textarea>
                                </div>
                                <input type="button" value="SEND" class="ui submit button sb" onclick="formsc.checkemail()" />
                            </form>

</body>
</html>

<template id = "todo">
    <ul>
        <li v-if="!edit" @click="editTodo(list)">{{list}}</li>
        <input v-else v-model="list"
        @keyup.enter="change">
        <button @click="deleteTodo(list)">delete</button>
    </ul>
</template>

<script>
    Vue.component('todo',{
        template:'#todo',
        props:['list'],
        data:function () {
            return {
            listdata1: parent.listdata1,
                edit: false
            }
        },
        methods: {
            deleteTodo(list) {
                var index = parent.items.indexOf(list)
                parent.items.splice(index,1)
            },
            editTodo(list) {
                this.edit=true;
                var index = parent.items.indexOf(list)

            },
            change: function(list){
                console.log(listdata)
               return parent.items[0]= listdata
            }
        },
    })

    var parent = new Vue({
        el: "#app",
        data: {
            list: "What needs to be done",
            listdata1:"",
            items:[]
        },
        methods: {
            addTodo() {

                this.items.push(this.list)

            },
//            deleteTodo() {
//                this.list
//            }
        }



    })
</script>
<!--Add Todo - todo리스트에서 하나씩 추가-->
<!--Delete Todo - 추가 된 것에서 하나씩 제거-->
<!--Edit Todo - 클릭 두번시 수정 가능하게-->
<!--Save Todo - 새로 고침해도 안사라지게-->
<!--Cancel Edit - 다른 곳을 클릭시 사라지게 에딧창-->
<!--Toggle todo - todo원을 클릭시 줄치기-->
<!--Toggle all - 화살표 클릭시 모두 줄치기-->
<!--Clear completed - 줄쳐진 리스트 지우기-->
<!--Select filter - active일때-->
<!--줄쳐진애들사라지기-->
<!--completed일때-->
<!--줄안친애들안보이게-->
