body {
    background-color: #222;
    color: #fff;
}
.header_menu_center {
    text-align: center;
}
.header_menu {
    margin-bottom: 15px;
    margin-top: 15px;
}
.header_left {
    padding-right: 0 !important;
    padding-left: 7px !important;

}


.fa-location-arrow {
    margin-right:10px;
}
.location-bar_right {
    text-align: right;
}
.location-bar__image {
    margin-top:10px;
}
.recent-search {
    margin-top: 15px;
}
.search-text p {
    margin-bottom: 10px;
}


.footer li {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 5px;

}
.footer li i {
    font-size: 2em;
    margin-bottom:2px;
}
.footer li p {
    font-size: 1rem;
}

.footer {

}

.load {
    text-align: center !important;
    margin-top: 55%;
}

.loading-logo {
    width: 40%;
}


.dropdown-menu {

}