body {
    background-color: #222;
    color: #fff;
}
.header_menu_center {
    text-align: center;
}
.header_menu {
    margin-bottom: 15px;
    margin-top: 15px;
}
.header_left {
    padding-right: 0 !important;
    padding-left: 7px !important;

}
.fa-location-arrow {
    margin-right:10px;
}
.location-bar_right {
    text-align: right;
}
.location-bar__image {
    margin-top:10px;
}
.recent-search {
    margin-top: 15px;
}

.footer li {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 5px;

}
.footer li i {
    font-size: 2em;
    margin-bottom:2px;
}
.footer li p {
    font-size: 1rem;
}

.footer {

}
/* 별점먹이기 */
.star {
    font-size: 2.5em;
    letter-spacing: -3.5px;
}
.star > a {
    color:#ccc;
}
.star > .plus {
    color: red;
}
.location-bar__text {
    margin-top: 7px;
}


/* appeal */
.appeal {
    margin-top: 5px;
}
.appeal > li {
    color: #000;
    display: inline;
    padding: 5px;
    background: #ddd;
    font-size: 0.8em;
    font-weight: bold;
}


/*다른점*/

.recent-search__btn-1 {
    width: 100%;
    margin-top: 20px;
    color: #357ae8;
}
.recent-search__btn-2 {
    width: 100%;
    margin-top: 20px;
    color: #e30000;
}